/* Base styles */
body {
  background: rgb(245, 245, 245);
  color: #121212;
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  background: #111;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
}

nav a.active {
  text-decoration: underline;
}

main {
  text-align: center;
  padding: 80px 20px;
}

main section {
  margin-bottom: 60px;
  text-align: left;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500; /* Medium */
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

p, li {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  line-height: 1.6;
}

ul, ol {
  padding-left: 20px;
}

footer {
  padding: 20px;
  text-align: center;
  background: #111;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}
